
#bigCallout{
   font-family: Cookie;
   font-size: 25px;
   padding-left: 13px;
   padding-right: 8px;
}
#bigCallout h2{
font-family: Copse;
font-size: 30px;
}
#list1{
   font-size:22px;
   color: black;
}
#h1
{
   font-size:25px;
}
#p1
{
   font-size:20px;
}
footer{
   background-color: #e3e3e3;
   padding:20px;
   color: black;
}
ul .unstyled{
   list-style:none;
   

}
.unstyled li
{
  list-style:none;
   display:inline;
   padding: 10px; 

}
   #searchInput{
      width:200px;
   }
   #kk1
   {
      margin-top: 19px;
   }
   #kk2
   {
      margin-top: 30px;
   }
   #kk3
   {
      margin-top: 19px;
   }
   #successAlert{
      display:none;
   }
   #main{
      background-image: url("http://wallpapercave.com/wp/zwCETTo.jpg");
   }
   
 #myCarousel{
      margin-top: 100px;


   }
#myCarousel .item{
   height:400px;
   background-size: 50% 350px ;

}
.carousel-caption
{
         font-size: 24px;
         color:white;
}
.carousel-caption h4
{
         font-size: 32px;
}
#slide1 {
   background: url('../../images/school13.jpg') top center no-repeat;
}
#slide2 {
   background: url('../../images/library1.jpg') top center no-repeat;
}
#slide3 {
   background: url('../../images/library12.jpg') top center no-repeat;
}



@media (max-width: 480px) {

#myCarousel .item{
   height:200px;

}
#slide1 {
   background: url('../../images/school13.jpg') top center no-repeat;

}
#slide2 {
   background: url('../../images/library1.jpg') top center no-repeat;
}
#slide3 {
   background: url('../../images/library12.jpg') top center no-repeat;
}
 .carousel-caption
{
         font-size: 10px;
}
.carousel-caption h4
{
         font-size: 20px;

}
}
@media (max-width: 768px) {
	
  
#myCarousel .item{
   height:300px;

}
#slide1 {
   background: url('../../images/school13.jpg') top center no-repeat;

}
#slide2 {
   background: url('../../images/library1.jpg') top center no-repeat;
}
#slide3 {
   background: url('../../images/library12.jpg') top center no-repeat;
}
 .carousel-caption
{
         font-size: 10px;
}
.carousel-caption h4
{
         font-size: 20px;

}
}

@media (min-width: 1200px) {
	#myCarousel .item{
   height:500px;

}
#slide1 {
   background: url('../../images/school1.jpg') top center no-repeat;
}
#slide2 {
   background: url('../../images/school.jpg') top center no-repeat;
}
#slide3 {
   background: url('../../images/library.jpg') top center no-repeat;
}
}
